 .box1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

body {
    /*background-color: #a1def7;*/
    
    background-image: linear-gradient(to left, #7dd6fa , pink);
}
.main-header {
    
    background-image: url("https://1.bp.blogspot.com/-JPOddZjBLQw/Wd-47eNaWeI/AAAAAAAAAaY/18dwp82rPVcnj5CcUeKhAjNXtxPMqOLzwCLcBGAs/s1600/leaving-cert-english-night-scene-descriptive-essay.jpg");
}   

.text {
    color :white;
    font-size: 50px;
}

.bigger {
    font-size: 1.5em;
    color: white;
    text-align: center;
    font-family: italic;
}

.center {
    display: block;
    max-width: 300px;
    margin: auto;
}

.rounded {
    position: relative;
    transform: translate(0%, -50%);
}

a{
    color : white;
}

.advantage {
    text-align: center;

}

.align {
    align-content: center;
    text-align: center;
    margin-right: 2%;
    margin-top: 2%;
}

#align {
    margin-left: 10%;
}

.shade {
    background-image: linear-gradient(to right, #7dd6fa , pink);

}
.shade1 {
    background-image: linear-gradient(to left, #7dd6fa , pink);
    
}
/*#background {
    background-color: yellow;
 }*/
 a.click {
    color : blue;
 }

 .footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 10px;
  }

  .right {
    /*align-content: right;*/
    float: right;
  }

nav ul {
    background-color: transparent;
    overflow: hidden;
    margin: 0;
    padding: 0; 
}
ul.topnav li {
    list-style: none;
    float: left;
}

ul.topnav li.topnav-right {
    float: right;
}

ul.topnav li a {
    display: block;
    text-decoration: none;
    min-height: 16px;
    text-align: center;
    padding: 14px;
    text-transform: uppercase;
    color: white;
}

ul.topnav li a:hover {
    background-color: #0090ff;
    color : #fff;
}

.top {
    color: black;
    background-color: #a6a4a2;
}


/*Signup*/

.sign {
    margin-top: 5%;
}

.sign1 {
    justify-content: center;
}

form h1 {
    text-align: center;
}



form button {
    width: 200px;
    justify-content: center;
}

.move {
    padding-left: 50%;
}
.move1 {
    padding-left: 41%;
}

ul.topnav li.dropdownIcon {
    display: none;
}




/*Mobile*/

/*######### Mobile ###########*/

@media screen and (max-width: 680px) {
  ul.topnav li:not(:nth-child(1)) {
    display: none;
  }
  
  ul.topnav li.dropdownIcon {
    display: block;
    float: right;
  }
  
  ul.topnav.responsive li.dropdownIcon {
    position: absolute;
    top: 0;
    right: 0;
  }
  
  ul.topnav.responsive {
    position: relative;
  }
  
  ul.topnav.responsive li {
    display: inline;
    float: none; 
  }
  
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
